.align-left {
  text-align: left;
}

.p-1 {
  padding: 1.5rem;
}

.m-1 {
  margin: 1.5rem;
}

.font-weight-normal {
  font-weight: 100;
}

.border-bottom {
  border-bottom: 1px solid #dedede;
}

.border {
  border: 1px solid #dedede;
}

.border-collapse {
  border-collapse: collapse;
}

tr {
  line-height: 2.8;
}

.d-inline-block {
  display: inline-block;
}